DATABASE_URL=

CLOUDINARY_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_SECRET=
CLOUDINARY_FOLDER=

JWT_SECRET=
JWT_EXPIRES_IN=
REFRESH_TOKEN_SECRET=
REFRESH_TOKEN_EXPIRES_IN=

PORT=
GIN_MODE=

UPLOAD_DIR=
MAX_UPLOAD_SIZE=
UPLOAD_PROVIDER=

DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_SSL_MODE=
RESEND_API_KEY=

REDIS_URL=